{% extends 'jobPortal/base.html' %} 
{% block main-content %}
{% block content %}
{% load static %}
<!-- jp Tittle Wrapper End -->
<!-- aboutus_section start-->

  <div class="aboutus_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
          <div class="about_text_wrapper">
            <div class="section_heading section_2_heading">
              <h2>About <span>gravitonweb</span></h2>
            </div>
            <p>
              gravitonweb is one of the fastest growing HR Firms with focus on
              Premium Placement Service. Our Endeavour is to provide simple,
              strong, fast, dynamic and responsive experience to our valued
              customers in their quest for searching the best man-power
              available. Our well trained Staff combines speed and experience to
              find the best possible talent, in the most demanding skill areas
              too.
            </p>
            <!-- <ul>
                            <li><i class="fa fa-check-square" aria-hidden="true"></i>                           <a href="">                                         We sell all over the world.</a>
                            </li>
                            <li><i class="fa fa-check-square" aria-hidden="true"></i>                           <a href="">                                         Satisfaction or money refund guaranteed.</a>
                            </li>
                            <li><i class="fa fa-check-square" aria-hidden="true"></i>                           <a href="">                                         Lifetime updates & support.</a>
                                    </li>
                        </ul> -->
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
          <div class="about_image_wrapper">
            <img
              class="img-responsive"
              src="{% static 'jobPortal/images/content/register_bg.jpg' %}"
              alt="about-img"
            />
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
          <div class="about_text_wrapper abt_2_para">
            <div class="section_heading section_2_heading">
              <h2>Our<span> Values</span></h2>
            </div>

            <ul style="margin-top: 20px">
              <li>
                <i
                  class="fa fa-check-square"
                  aria-hidden="true"
                  style="color: #466bee"
                ></i
                ><a href=""
                  >We believe in disciplined people thoughts and actions.</a
                >
              </li>
              <li>
                <i
                  class="fa fa-check-square"
                  aria-hidden="true"
                  style="color: #466bee"
                ></i>
                <a href="">
                  We recognize our responsibility the careers and lines through
                  our insight, advice and solutions..</a
                >
              </li>
              <li>
                <i
                  class="fa fa-check-square"
                  aria-hidden="true"
                  style="color: #466bee"
                ></i>
                <a href="">
                  We strictly adhere to code of Professional ethics with an
                  emphasis on honesty and integrity.</a
                >
              </li>
              <li>
                <i
                  class="fa fa-check-square"
                  aria-hidden="true"
                  style="color: #466bee"
                ></i>
                <a href="">
                  We ensure quality through efficient and tailor-made process
                  for all the function.
                </a>
              </li>
              <li>
                <i
                  class="fa fa-check-square"
                  aria-hidden="true"
                  style="color: #466bee"
                ></i>
                <a href="">
                  As a partnership, we value long term relationship of our own
                  people and in technology.
                </a>
              </li>
              <li>
                <i
                  class="fa fa-check-square"
                  aria-hidden="true"
                  style="color: #466bee"
                ></i>
                <a href="">
                  This distinctive culture continues to attract exceptional
                  people to our firm and we are resolves to continue teaching
                  pinnacle of professionalism of work.
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% endblock main-content %} 
