{% extends 'jobPortal/base.html' %}
{% block main-content %}
{% block content %}
{% load static %}
    <!-- Header Wrapper End -->
    <!-- jp Tittle Wrapper Start -->
    <div class="jp_tittle_main_wrapper">
        <div class="jp_tittle_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_tittle_heading_wrapper">
                        <div class="jp_tittle_heading">
                            <h2>Blog  Post</h2>
                        </div>
                        <div class="jp_tittle_breadcrumb_main_wrapper">
                            <div class="jp_tittle_breadcrumb_wrapper">
                                <ul>
                                    <li>                           <a href="">                                         Home</a> <i class="fa fa-angle-right"></i></li>
                                    
                                    <li>Blog  Post</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jp Tittle Wrapper End -->
    <!-- jp blog_cate section Wrapper Start -->
    <div class="jp_blog_cate_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_blog_cate_left_main_wrapper">
                                <div class="jp_first_blog_post_main_wrapper">
                                    <div class="jp_first_blog_post_img">
                                        <img src="{{x.imageBlog.url}}" class="img-responsive" alt="blog_img" />
                                    </div>
                                    <div class="jp_first_blog_post_cont_wrapper">
                                        <ul>
                                            <li>                           <a href="">                                         <i class="fa fa-calendar"></i> &nbsp;&nbsp;{{x.date1}}</a></li>
                                            <li>                           <a href="">                                         <i class="fa fa-clone"></i> &nbsp;&nbsp;{{x.status1}}</a></li>
                                        </ul>
                                        <h3>                           <a href="">                                         {{x.name}}</a></h3>
                                        <p>{{x.desc1short}}</p>
                                    </div>
                                    <div class="gc_blog_index_slider_post_wrapper gc_blog_single_index_slider_post_wrapper">
                                        <div class="gc_blog_letest_week_wrapper">
                                            <div class="gc_blog_quote_wrapper">
                                                <img src="{% static 'jobPortal/images/content/quote.png' %}" alt="quote" />
                                                <h3>" The Education of Tomorrow, Rooted in Tradition Invite You Learning Management System"</h3>
                                                <p>-{{x.usernameBlog}}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="jp_blog_single_bottom_post_cont">
                                        <p>{{x.decs2long}}</p>
                                        <ul>
                                            <li><i class="fa fa-tags"></i>Keywords :</li>
                                            <li>                           <a href="">                                         ui designer,</a></li>
                                            <li>                           <a href="">                                         developer,</a></li>
                                            <li>                           <a href="">                                         senior</a></li>
                                            <li>                           <a href="">                                         it company,</a></li>
                                            <li>                           <a href="">                                         design,</a></li>
                                            <li>                           <a href="">                                         call center</a></li>
                                        </ul>
                                    </div>
                                    <div class="jp_first_blog_bottom_cont_wrapper">
                                        <div class="jp_blog_bottom_left_cont">
                                            <ul>
                                                <li><img src="{% static 'jobPortal/images/content/blog_small_img.jpg' %}" alt="small_img" class="img-circle" />&nbsp;&nbsp; Jhon Doe</li>
                                            </ul>
                                        </div>
                                        <div class="jp_blog_bottom_right_cont">
                                            <p class="hidden-xs"><a href="#" class="hidden-xs"><i class="fa fa-comments"></i></a></p>
                                            <ul>
                                                <li>SHARE :</li>
                                                <li>                           <a href="">                                         <i class="fa fa-facebook"></i></a></li>
                                                <li>                           <a href="">                                         <i class="fa fa-twitter"></i></a></li>
                                                <li>                           <a href="">                                         <i class="fa fa-pinterest-p"></i></a></li>
                                                <li>                           <a href="">                                         <i class="fa fa-linkedin"></i></a></li>
                                                <li class="hidden-xs">                           <a href="">                                         <i class="fa fa-google-plus"></i></a></li>
                                                <li class="hidden-xs">                           <a href="">                                         <i class="fa fa-vimeo"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_blog_single_client_main_wrapper">
                                <div class="jp_blog_single_client_main_section">
                                    <div class="jp_blog_single_client_img">
                                        <img src="{% static 'jobPortal/images/content/blog_client_img.jpg' %}" alt="blog_client" class="img-circle" />
                                    </div>
                                    <div class="jp_blog_single_client_cont">
                                        <h3>{{x.usernameBlog}}</h3>
                                        <p>{{x.nhomeame1}}</p>
                                        <ul>
                                            <li>                           <a href="">                                         <i class="fa fa-facebook"></i></a></li>
                                            <li>                           <a href="">                                         <i class="fa fa-twitter"></i></a></li>
                                            <li>                           <a href="">                                         <i class="fa fa-pinterest-p"></i></a></li>
                                            <li>                           <a href="">                                         <i class="fa fa-linkedin"></i></a></li>
                                            <li class="hidden-xs">                           <a href="">                                         <i class="fa fa-google-plus"></i></a></li>
                                            <li class="hidden-xs">                           <a href="">                                         <i class="fa fa-vimeo"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_blog_single_comment_main_wrapper">
                                <div class="jp_blog_single_comment_main">
                                    <h2>Comments (04)</h2>
                                </div>
                                <div class="jp_blog_single_comment_box_wrapper">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="jp_blog_comment_main_section_wrapper">
                                                <div class="jp_blog_sin_com_img_wrapper">
                                                    <img src="{% static 'jobPortal/images/content/blog_single_client1.jpg' %}" alt="blog_img" />
                                                </div>
                                                <div class="jp_blog_sin_com_cont_wrapper">
                                                    <ul>
                                                        <li><i class="fa fa-user"></i>&nbsp;&nbsp;                            <a href="">                                         by Jhon Doe</a></li>
                                                        <li><i class="fa fa-calendar"></i>&nbsp;&nbsp;                            <a href="">                                         03 March, 2017</a></li>
                                                        <li><i class="fa fa-reply"></i>&nbsp;&nbsp;                            <a href="">                                         Reply</a></li>
                                                    </ul>
                                                    <p>In eleifend sapien a faucibus elementum. Sed use ndrerit purus et dignissim. Nulla luctus sequat ue a eleifend. Fusce nec ante vel mi pulvinar ultrics. Nulla sodales lorem nisi.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="jp_blog_comment_main_section_wrapper jp_blog_comment_main_section_wrapper2">
                                                <div class="jp_blog_sin_com_img_wrapper">
                                                    <img src="{% static 'jobPortal/images/content/blog_single_client2.jpg' %}" alt="blog_img" />
                                                </div>
                                                <div class="jp_blog_sin_com_cont_wrapper">
                                                    <ul>
                                                        <li><i class="fa fa-user"></i>&nbsp;&nbsp;                            <a href="">                                         by Jhon Doe</a></li>
                                                        <li><i class="fa fa-calendar"></i>&nbsp;&nbsp;                            <a href="">                                         03 March, 2017</a></li>
                                                        <li><i class="fa fa-reply"></i>&nbsp;&nbsp;                            <a href="">                                         Reply</a></li>
                                                    </ul>
                                                    <p>In eleifend sapien a faucibus elementum. Sed use ndrerit purus et dignissim. Nulla luctus sequat ue a eleifend. Fusce nec ante vel mi pulvinar ultrics. Nulla sodales lorem nisi.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-10 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-12 col-xs-12">
                                            <div class="jp_blog_comment_main_section_wrapper jp_blog_comment_main_section_wrapper2 jp_blog_post_dots_wrapper">
                                                <div class="jp_blog_sin_com_img_wrapper">
                                                    <img src="{% static 'jobPortal/images/content/blog_single_client1.jpg' %}" alt="blog_img" />
                                                </div>
                                                <div class="jp_blog_sin_com_cont_wrapper">
                                                    <ul>
                                                        <li><i class="fa fa-user"></i>&nbsp;&nbsp;                            <a href="">                                         by Jhon Doe</a></li>
                                                        <li><i class="fa fa-calendar"></i>&nbsp;&nbsp;                            <a href="">                                         03 March, 2017</a></li>
                                                        <li><i class="fa fa-reply"></i>&nbsp;&nbsp;                            <a href="">                                         Reply</a></li>
                                                    </ul>
                                                    <p>In eleifend sapien a faucibus elementum. Sed use ndrerit purus et dignissim. Nulla luctus sequat ue a eleifend. Fusce nec ante vel mi pulvinar ultrics. Nulla sodales lorem nisi.</p>
                                                </div>
                                            </div>
                                            <div class="jp_blog_small_dots hidden-sm hidden-xs">
                                            </div>
                                            <div class="jp_blog_small_dots2 hidden-sm hidden-xs">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="jp_blog_comment_main_section_wrapper jp_blog_comment_main_section_wrapper2">
                                                <div class="jp_blog_sin_com_img_wrapper">
                                                    <img src="{% static 'jobPortal/images/content/blog_single_client3.jpg' %}" alt="blog_img" />
                                                </div>
                                                <div class="jp_blog_sin_com_cont_wrapper">
                                                    <ul>
                                                        <li><i class="fa fa-user"></i>&nbsp;&nbsp;                            <a href="">                                         by Jhon Doe</a></li>
                                                        <li><i class="fa fa-calendar"></i>&nbsp;&nbsp;                            <a href="">                                         03 March, 2017</a></li>
                                                        <li><i class="fa fa-reply"></i>&nbsp;&nbsp;                            <a href="">                                         Reply</a></li>
                                                    </ul>
                                                    <p>In eleifend sapien a faucibus elementum. Sed use ndrerit purus et dignissim. Nulla luctus sequat ue a eleifend. Fusce nec ante vel mi pulvinar ultrics. Nulla sodales lorem nisi.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="jp_blog_comment_main_section_wrapper jp_blog_comment_main_section_wrapper2">
                                                <div class="jp_blog_sin_com_img_wrapper">
                                                    <img src="{% static 'jobPortal/images/content/blog_single_client4.jpg' %}" alt="blog_img" />
                                                </div>
                                                <div class="jp_blog_sin_com_cont_wrapper">
                                                    <ul>
                                                        <li><i class="fa fa-user"></i>&nbsp;&nbsp;                            <a href="">                                         by Jhon Doe</a></li>
                                                        <li><i class="fa fa-calendar"></i>&nbsp;&nbsp;                            <a href="">                                         03 March, 2017</a></li>
                                                        <li><i class="fa fa-reply"></i>&nbsp;&nbsp;                            <a href="">                                         Reply</a></li>
                                                    </ul>
                                                    <p>In eleifend sapien a faucibus elementum. Sed use ndrerit purus et dignissim. Nulla luctus sequat ue a eleifend. Fusce nec ante vel mi pulvinar ultrics. Nulla sodales lorem nisi.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_blog_single_form_main_wrapper">
                                <div class="jp_blog_single_form_heading">
                                    <h2>Leave A comment</h2>
                                </div>
                                <div class="jp_contact_form_box">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="jp_contact_inputs_wrapper">
                                                <i class="fa fa-user"></i><input type="text" placeholder="Name *">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                            <div class="jp_contact_inputs_wrapper jp_contact_inputs2_wrapper">
                                                <i class="fa fa-envelope"></i><input type="text" placeholder="Email *">
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="jp_contact_inputs_wrapper jp_contact_inputs4_wrapper">
                                                <i class="fa fa-text-height"></i><textarea rows="6" placeholder="Type Your Comment *"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="jp_contact_form_btn_wrapper">
                                                <ul>
                                                    <li>                           <a href="">                                         <i class="fa fa-plus-circle"></i>&nbsp; SUBMIT</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 margin_top">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_rightside_job_categories_wrapper jp_blog_right_box_search">
                                <div class="jp_rightside_job_categories_heading">
                                    <h4>Search</h4>
                                </div>
                                <div class="jp_blog_right_search_wrapper">
                                    <input type="text" placeholder="Search">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_rightside_job_categories_wrapper jp_blog_right_box">
                                <div class="jp_rightside_job_categories_heading">
                                    <h4>Jobs by Category</h4>
                                </div>
                                <div class="jp_rightside_job_categories_content">
                                    <ul>
                                        {% for x in company %}
                                        <li><i class="fa fa-caret-right"></i>                            <a href="">                                         {{x.company_name}}<span></span></a></li>
                                      {% endfor %} 
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_rightside_career_wrapper jp_blog_right_box">
                                <div class="jp_rightside_career_heading">
                                    <h4>Career Advice</h4>
                                </div>
                                <div class="jp_rightside_career_main_content">
                                    <div class="jp_rightside_career_content_wrapper">
                                        <div class="jp_rightside_career_img">
                                            <img src="{% static 'jobPortal/images/content/career_img1.jpg' %}" alt="career_img" />
                                        </div>
                                        <div class="jp_rightside_career_img_cont">
                                            <h4>Job Seekeks OCT - 2017</h4>
                                            <p><i class="fa fa-calendar-o"></i> &nbsp;20 OCT, 2017</p>
                                        </div>
                                    </div>
                                    <div class="jp_rightside_career_content_wrapper">
                                        <div class="jp_rightside_career_img">
                                            <img src="{% static 'jobPortal/images/content/career_img2.jpg' %}" alt="career_img" />
                                        </div>
                                        <div class="jp_rightside_career_img_cont">
                                            <h4>Job Seekeks OCT - 2017</h4>
                                            <p><i class="fa fa-calendar-o"></i> &nbsp;20 OCT, 2017</p>
                                        </div>
                                    </div>
                                    <div class="jp_rightside_career_content_wrapper">
                                        <div class="jp_rightside_career_img">
                                            <img src="{% static 'jobPortal/images/content/career_img3.jpg' %}" alt="career_img" />
                                        </div>
                                        <div class="jp_rightside_career_img_cont">
                                            <h4>Job Seekeks OCT - 2017</h4>
                                            <p><i class="fa fa-calendar-o"></i> &nbsp;20 OCT, 2017</p>
                                        </div>
                                    </div>
                                    <div class="jp_rightside_career_btn">
                                        <a href="{% url 'jobs:jobs' %}"><i class="fa fa-plus-circle"></i> View All</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_spotlight_main_wrapper">
                                <div class="spotlight_header_wrapper">
                                    <h4>Job Spotlight</h4>
                                </div>
                                <div class="jp_spotlight_slider_wrapper">
                                    <div class="owl-carousel owl-theme">
                                        {% for x in featured1 %}
                                        <div class="item">
                                            <div class="jp_spotlight_slider_img_Wrapper">
                                                <img src="{% static 'jobPortal/images/content/spotlight_img.jpg' %}" alt="spotlight_img" />
                                            </div>
                                            <div class="jp_spotlight_slider_cont_Wrapper">
                                                <h4>{{x.title}} ({{x.experence}} Exp.)</h4>
                                                <p>{{x.company_name}}</p>
                                                <ul>
                                                    <li><i class="fa fa-cc-paypal"></i>&nbsp;{{x.salary}}P.A.</li>
                                                    <li><i class="fa fa-map-marker"></i>&nbsp;{{x.location}}</li>
                                                </ul>
                                            </div>
                                            <div class="jp_spotlight_slider_btn_wrapper">
                                                <div class="jp_spotlight_slider_btn">
                                                    <ul>
                                                        <li><a href="{% url 'jobs:jobs-detail' x.id %}"><i class="fa fa-plus-circle"></i> &nbsp; Apply</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                      {% endfor %}
                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% comment %} <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_rightside_job_categories_wrapper jp_job_location_wrapper">
                                <div class="jp_rightside_job_categories_heading" style="background-image: linear-gradient(95deg,#64afef,#248ae4 50%,#244ee4 100%);">
                                    <h4>Jobs by Location</h4>
                                </div>
                                <div class="jp_rightside_job_categories_content">
                                    <div class="handyman_sec1_wrapper">
                                        <div class="content">
                                            <div class="box">
                                                {% for x in location %}
                                                <a href="{% url 'jobs:shortValueLocation' x.pk %}"> <p>
                                                  {{x.location}} <span>(-)</span>
                                                   </p>
                                                </a> 
                                                   {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_rightside_career_wrapper jp_best_deal_right_sec_wrapper">
                                <div class="jp_rightside_career_heading">
                                    <h4>Recent Resumes</h4>
                                </div>
                                <div class="jp_rightside_career_main_content">
                                    <div class="jp_rightside_career_content_wrapper jp_best_deal_right_content">
                                        <div class="jp_rightside_career_img">
                                            <img src="{% static 'jobPortal/images/content/client_img1.jpg' %}" alt="career_img" />
                                        </div>
                                        <div class="jp_rightside_career_img_cont">
                                            <h4>Akshay Handge</h4>
                                            <p><i class="fa fa-folder-open-o"></i> &nbsp;Developer</p>
                                        </div>
                                    </div>
                                    <div class="jp_rightside_career_content_wrapper jp_best_deal_right_content">
                                        <div class="jp_rightside_career_img">
                                            <img src="{% static 'jobPortal/images/content/client_img2.jpg' %}" alt="career_img" />
                                        </div>
                                        <div class="jp_rightside_career_img_cont">
                                            <h4>Akshay Handge</h4>
                                            <p><i class="fa fa-folder-open-o"></i> &nbsp;UI Designer</p>
                                        </div>
                                    </div>
                                    <div class="jp_rightside_career_content_wrapper jp_best_deal_right_content">
                                        <div class="jp_rightside_career_img">
                                            <img src="{% static 'jobPortal/images/content/client_img3.jpg' %}" alt="career_img" />
                                        </div>
                                        <div class="jp_rightside_career_img_cont">
                                            <h4>Jacklen Fandores</h4>
                                            <p><i class="fa fa-folder-open-o"></i> &nbsp;Web Designer</p>
                                        </div>
                                    </div>
                                    <div class="jp_rightside_career_btn">
                                        <a href="{% url 'jobs:jobs' %}"><i class="fa fa-plus-circle"></i> View All</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="jp_add_resume_wrapper jp_blog_right_box">
                                <div class="jp_add_resume_img_overlay"></div>
                                <div class="jp_add_resume_cont">
                                    <img src="{% static 'jobPortal/images/content/resume_logo.png' %}" alt="logo" />
                                    <h4>Get Best Matched Jobs On your Email. Add Resume NOW!</h4>
                                    <ul>
                                        <li>                           <a href="">                                         <i class="fa fa-plus-circle"></i> &nbsp;ADD RESUME</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jp blog_cate section Wrapper End -->
    <!-- jp downlord Wrapper Start -->
    <div class="jp_downlord_main_wrapper">
        <div class="jp_downlord_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hidden-sm hidden-xs">
                    <div class="jp_down_mob_img_wrapper">
                        <img src="{% static 'jobPortal/images/content/mobail.png' %}" alt="mobail_img" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="ss_download_wrapper_details">
                        <h1><span>Download</span><br>Job Portal App Now!</h1>
                        <p>Fast, Simple & Delightful. All it takes is 30 seconds to Download.</p>
                        <a href="#" class="ss_appstore"><span><i class="fa fa-apple" aria-hidden="true"></i></span> App Store</a>
                        <a href="#" class="ss_playstore"><span><i class="fa fa-android" aria-hidden="true"></i></span> Play Store</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 visible-sm visible-xs">
                    <div class="jp_down_mob_img_wrapper">
                        <img src="{% static 'jobPortal/images/content/mobail.png' %}" class="img-responsive" alt="mobail_img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jp downlord Wrapper End -->
    <!-- jp Newsletter Wrapper Start -->
   {% endblock %}
   {% endblock main-content %}