{% extends 'jobPortal/base.html' %}
{% load static %}
{% block main-content %}
{% block content %}
    <!-- Header Wrapper End -->
	  <!-- jp Tittle Wrapper Start -->
    <div class="jp_tittle_main_wrapper">
        <div class="jp_tittle_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_tittle_heading_wrapper">
                        <div class="jp_tittle_heading">
                            <h2>candidate-Profile</h2>
                        </div>
                        <div class="jp_tittle_breadcrumb_main_wrapper">
                            <div class="jp_tittle_breadcrumb_wrapper">
                                <ul>
                                    <li>                           <a href="{% url 'jobs:home' %}">                                         Home</a> <i class="fa fa-angle-right"></i></li>
                                    
                                    <li>candidate-Profile</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jp Tittle Wrapper End -->
    <!-- jp profile Wrapper Start -->
	<div class="jp_cp_profile_main_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="jp_cp_left_side_wrapper">
						<div class="jp_cp_left_pro_wallpaper">
                            {% ifequal employeeDetailss.profileImage  None %}
                            <img src="{% static 'userimage.jpg' %}" />
                    {% else %}
                    <img src="{{employeeDetailss.profileImgae.url}}" alt="profile_img">
                        {% endifequal %}
							
							<h2>{{employeeDetailss.fullName}}</h2>
							<p>{{employeeDetails.jobTitle}}</p>
							<ul>
								<li>                           <a href="">                                         <i class="fa fa-facebook"></i></a></li>
								<li>                           <a href="">                                         <i class="fa fa-twitter"></i></a></li>
								<li>                           <a href="">                                         <i class="fa fa-youtube-play"></i></a></li>
							</ul>
						</div>
						<div class="jp_cp_rd_wrapper">
							<ul>
                                {% if resume is not None %}
								<li><a href="{{resume.resume1.url}}" download><i class="fa fa-download"></i> &nbsp;Download Resume</a></li>
                                {% endif  %}
                             
								<li><a href="tel:{{employeeDetails.phoneNumber}}"><i class="fa fa-phone"></i> &nbsp;Contact candidate</a></li>
							</ul>
						</div>
					</div>
                    {% if resume is None %}
                    <div class="jp_add_resume_wrapper jp_job_location_wrapper jp_cp_left_ad_res">
                        <div class="jp_add_resume_img_overlay"></div>
                        <div class="jp_add_resume_cont">
                            <img src="images/content/resume_logo.png" alt="logo" />
                            <h4>Get Best Matched Jobs On your Email. Add Resume NOW!</h4>
                            <ul>
                                <li>                           <a href="{% url 'jobs:profile' %}">                                         <i class="fa fa-plus-circle"></i> &nbsp;ADD RESUME</a></li>
                            </ul>
                        </div>
                    </div>
                    {% else %}
                    <div class="jp_add_resume_wrapper jp_job_location_wrapper jp_cp_left_ad_res">
                        <div class="jp_add_resume_img_overlay"></div>
                        <div class="jp_add_resume_cont">
                            <img src="images/content/resume_logo.png" alt="logo" />
                            <h4>Get Best Matched Course On your </h4>
                            <ul>
                                <li>                           <a href="">                                         <i class="fa fa-plus-circle"></i> &nbsp;Course </a></li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
				</div>
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    {% if employeeDetailss is not None %}
					<div class="jp_cp_right_side_wrapper">
						<div class="jp_cp_right_side_inner_wrapper">
							<h2>PERSONAL DETAILS</h2>
							<table>
                                <tbody>
                                    <tr>
                                        <td class="td-w25">Full Name</td>
                                        <td class="td-w10">:</td>
                                        <td class="td-w65">{{employeeDetailss.fullName}}</td>
                                    </tr>
                                    <tr>
                                        <td class="td-w25">age</td>
                                        <td class="td-w10">:</td>
                                        <td class="td-w65">{{employeeDetailss.age}}</td>
                                    </tr>
                                    <tr>
                                        <td class="td-w25">Email</td>
                                        <td class="td-w10">:</td>
                                        <td class="td-w65">{{employeeDetailss.email}}</td>
                                    </tr>
                                    <tr>
                                        <td class="td-w25">Phone</td>
                                        <td class="td-w10">:</td>
                                        <td class="td-w65">{{employeeDetailss.phoneNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td class="td-w25">Portfolio Link</td>
                                        <td class="td-w10">:</td>
                                        <td class="td-w65">{{employeeDetailss.portfolioLink}}</td>
                                    </tr>
                                    <tr>
                                        <td class="td-w25">Qualification</td>
                                        <td class="td-w10">:</td>
                                        <td class="td-w65">{{employeeDetailss.qualification}}</td>
                                    </tr>
                                    <tr>
                                        <td class="td-w25">Years Of Experience</td>
                                        <td class="td-w10">:</td>
                                        <td class="td-w65">{{employeeDetailss.experienceTime}}</td>
                                    </tr>
                                    <tr>
                                        <td class="td-w25">When Last Work</td>
                                        <td class="td-w10">:</td>
                                        <td class="td-w65"></td>
                                    </tr>
                                    <tr>
                                        <td class="td-w25">City</td>
                                        <td class="td-w10">:</td>
                                        <td class="td-w65">{{employeeDetailss.location}}</td>
                                    </tr>
                                    <tr>
                                        <td class="td-w25">Address</td>
                                        <td class="td-w10">:</td>
                                        <td class="td-w65">{{employeeDetailss.address}}</td>
                                    </tr>
                                    <tr>
                                        <td class="td-w25">jobTitle </td>
                                        <td class="td-w10">:</td>
                                        <td class="td-w65">{{employeeDetailss.jobTitle}}</td>
                                    </tr>
                                    <tr>
                                        <td class="td-w25">Country</td>
                                        <td class="td-w10">:</td>
                                        <td class="td-w65">India</td>
                                    </tr>
                                </tbody>
                            </table>
						</div>
					</div>
                    {% else %}
                    <div style="text-align: center; background-color: rgb(241, 232, 232); padding: 24px; border-radius: 4px;">
                        <h4 style="color: red;">Candidate not Uploaded any Infomration</h4>
                    </div>
                    {% endif %}
					<div class="row">
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
							<div class="jp_cp_accor_heading_wrapper">
								<h2>Education</h2>
								<p>Proin gravida nibh vel velit quet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulpuate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt.</p>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
							<div class="accordion_wrapper abt_page_2_wrapper">
								<div class="panel-group" id="accordion_threeLeft">


									<!-- /.panel-default -->
									<div class="panel panel-default">
										<div class="panel-heading bell">
											<h4 class="panel-title">
												<a class="collapsed" data-toggle="collapse" data-parent="#accordion_threeLeft" href="#collapseTwentyLeftThree" aria-expanded="false">
										DIPLOMA IN COMPUTER 
									  </a>
											</h4>
										</div>
										<div id="collapseTwentyLeftThree" class="panel-collapse collapse" aria-expanded="false" role="tablist">
											<div class="panel-body">
												Praesent in nisl egestas mauris aliquam luctus. Ut auctor faucibus orci, nec semper purus ultrices idorbi nec lorem risus orbi vitae felis gravida Pellentesque id eros quis massa convallis feugiat eu quis urna.
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading bell">
											<h4 class="panel-title">
												<a class="collapsed" data-toggle="collapse" data-parent="#accordion_threeLeft" href="#collapseTwentyLeftThree2" aria-expanded="false">
										HIGHER SECONDRY EDUCATION 
									  </a>
											</h4>
										</div>
										<div id="collapseTwentyLeftThree2" class="panel-collapse collapse" aria-expanded="false" role="tablist">
											<div class="panel-body">
												Praesent in nisl egestas mauris aliquam luctus. Ut auctor faucibus orci, nec semper purus ultrices idorbi nec lorem risus orbi vitae felis gravida Pellentesque id eros quis massa convallis feugiat eu quis urna.
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading bell">
											<h4 class="panel-title">
												<a class="collapsed" data-toggle="collapse" data-parent="#accordion_threeLeft" href="#collapseTwentyLeftThree3" aria-expanded="false">
										HIGH SCHOOL DEGREE
									  </a>
											</h4>
										</div>
										<div id="collapseTwentyLeftThree3" class="panel-collapse collapse" aria-expanded="false" role="tablist">
											<div class="panel-body">
												Praesent in nisl egestas mauris aliquam luctus. Ut auctor faucibus orci, nec semper purus ultrices idorbi nec lorem risus orbi vitae felis gravida Pellentesque id eros quis massa convallis feugiat eu quis urna.
											</div>
										</div>
									</div>
									<!-- /.panel-default -->
								</div>
								<!--end of /.panel-group-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- jp profile Wrapper End -->
	<!-- jp downlord Wrapper Start -->
    <div class="jp_downlord_main_wrapper">
        <div class="jp_downlord_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hidden-sm hidden-xs">
                    <div class="jp_down_mob_img_wrapper">
                        <img src="images/content/mobail.png" alt="mobail_img" />
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="ss_download_wrapper_details">
                        <h1><span>Download</span><br>Job Portal App Now!</h1>
                        <p>Fast, Simple & Delightful. All it takes is 30 seconds to Download.</p>
                        <a href="#" class="ss_appstore"><span><i class="fa fa-apple" aria-hidden="true"></i></span> App Store</a>
                        <a href="#" class="ss_playstore"><span><i class="fa fa-android" aria-hidden="true"></i></span> Play Store</a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 visible-sm visible-xs">
                    <div class="jp_down_mob_img_wrapper">
                        <img src="images/content/mobail.png" class="img-responsive" alt="mobail_img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jp downlord Wrapper End -->
	<!-- jp Newsletter Wrapper Start -->
    {% endblock %}
    {% endblock main-content %} 