{% extends 'jobPortal/base.html' %}
{% block content %}

<div class="container" style=" padding:5%; margin-top:80px;">
<div class="row" >

     <div class="col-lg-2 col-md-2 col-sm-12" style="border:1px solid rgba(128, 128, 128, 0.089); height:150px;">
         <div class="text-center" style="color:#248ae4;">image
        <hr></div>

    </div>
    <div class="col-lg-2 col-md-2 col-sm-12"  style="border:1px solid rgba(128, 128, 128, 0.089);  height:150px;
    display:block;">
    <div class="text-center" style="color:#248ae4;">
        Product Name <hr style="color:#248ae4;">
        </div>
        <div class="text-center">
        <h4>Standard</h4>
        </div>
    

    </div>
    <div class="col-lg-2 col-md-2 col-sm-12"  style="border:1px solid rgba(128, 128, 128, 0.089);  height:150px;">
        <div class="text-center" style="color:#248ae4;">
        Price<hr>
        </div>
        <div class="text-center">
            <h4>299</h4>
            </div>    </div>
    <div class="col-lg-2 col-md-2 col-sm-12"  style="border:1px solid rgba(128, 128, 128, 0.089);  height:150px;">
      <div class="text-center" style="color:#248ae4;" >  Quantity<hr>
        </div>
        <div class="text-center">
            <h4>1</h4>
            </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-12"  style="border:1px solid rgba(128, 128, 128, 0.089);  height:150px;">
       <div class="text-center" style="color:#248ae4;"> Total<hr>
        </div>
        <div class="text-center">
            <h4>299</h4>
            </div>   
         </div>



        
         </div>
         
         <div class="col-lg-4"></div>
             <button class="col-lg-3 col-md-3 col-sm-12" style="border:1px solid #248ae4; background-color:#248ae4;
             color:white; border-radius:10px; font-size:20px; margin-top:20px; ">Update Cart</button>
        
         </div>

<div class="col-lg-4"></div>
         

         <div class=" col-lg-3 col-md-3 col-sm-12 "  style="border:1px solid rgba(128, 128, 128, 0.089); 
          margin-bottom:60px; margin:auto; height:200px;">
            <div class="text-center" style="color:#248ae4;">Cart Total<hr>
             
              <ul class="list-group list-group-flush">
          <li class="list-group-item" style="display:flex; justify-content: space-between;">
            <h4 style="color:black;">subtotal</h4> 
            <h5> 299 </h5></li>
          <li class="list-group-item" style="display:flex; justify-content: space-between;">
            <h4 style="color:black;">Total </h4>
              <h5> 299</h5></li>
          <li class="list-group-item">
              <button style="border:1px solid #248ae4; background-color:#248ae4;
              color:white; width:100%; border-radius:10px;">Proceed</button>
          </li>
        </ul> 
        </div>
              </div>

{% endblock %}