{% extends 'jobPortal/base.html' %}
{% block main-content %}
{% block content %}
    <!-- Header Wrapper End -->
    <!-- jp Tittle Wrapper Start -->
    <div class="jp_tittle_main_wrapper">
        <div class="jp_tittle_img_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_tittle_heading_wrapper">
                        <div class="jp_tittle_heading">
                            <h2>Pricing Tables</h2>
                        </div>
                        <div class="jp_tittle_breadcrumb_main_wrapper">
                            <div class="jp_tittle_breadcrumb_wrapper">
                                <ul>
                                   
                                    <li><a href="{% url 'jobs:home' %}">Home</a> <i class="fa fa-angle-right" style="color:#248ae4"></i></li>
                                    <li style="color:#248ae4">Pricing Tables </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jp Tittle Wrapper End -->
    <!-- jp pricing Wrapper Start -->
    <div class="jp_pricing_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="pricing_box1_wrapper pricing_border_box1_wrapper">
                        <div class="box1_heading_wrapper">
                            <h4>Basic Plan</h4>
                        </div>
                        <div class="price_box1_wrapper">
                            <div class="price_box1" style="background-image: linear-gradient(95deg,#64afef,#248ae4 50%,#244ee4 100%);">
                                <h1>₹<span>99</span></h1>
                            </div>
                        </div>
                        <div class="pricing_cont_wrapper">
                            <div class="pricing_cont">
                                <ul>
                                    <li><i class="fa fa-plus-circle"></i> &nbsp;&nbsp;5 Jobs Posting</li>
                                    <li><i class="fa fa-plus-circle"></i> &nbsp;&nbsp;2 Featured jobs</li>
                                    <li><i class="fa fa-plus-circle"></i> &nbsp;&nbsp;30days duration</li>
                                    <li><i class="fa fa-plus-circle"></i> &nbsp;&nbsp;Email Alert</li>
                                </ul>
                            </div>
                        </div>
                        <div class="pricing_btn_wrapper">
                            <div class="pricing_btn1">
                                <ul>
                                    <form action="{% url 'jobs:memberplanPricingEmployer' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="number" value="99" name="value" hidden>
                                    <li><a href=""><i class="fa fa-plus-circle"></i> <button type="submit"> Get Started</button> </a></li>
                                </form >
                                </ul>
                            </div>
                        </div>
                        <div class="jp_pricing_label_wrapper">
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="pricing_box1_wrapper pricing_border_box2_wrapper">
                        <div class="box1_heading_wrapper box2_heading_wrapper">
                            <h4>Premium Plan</h4>
                        </div>
                        <div class="price_box1_wrapper">
                            <div class="price_box2">
                                <h1>₹<span>499</span></h1>
                            </div>
                        </div>
                        <div class="pricing_cont_wrapper">
                            <div class="pricing_cont">
                                <ul>
                                    <li><i class="fa fa-plus-circle"></i> &nbsp;&nbsp;10 Jobs Posting</li>
                                    <li><i class="fa fa-plus-circle"></i> &nbsp;&nbsp;4 Featured Job</li>
                                    <li><i class="fa fa-plus-circle"></i> &nbsp;&nbsp;90 Days Duration</li>
                                    <li><i class="fa fa-plus-circle"></i> &nbsp;&nbsp;Email Alert</li>
                                </ul>
                            </div>
                        </div>
                        <div class="pricing_btn_wrapper">
                            <div class="pricing_btn2">
                                <ul>
                                    <form action="{% url 'jobs:memberplanPricingEmployer' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="number" value="499" name="value" hidden>
                                    <li><a href=""><i class="fa fa-plus-circle"></i> <button type="submit"> Get Started</button> </a></li>
                                </form >
                                </ul>
                            </div>
                        </div>
                        <div class="jp_pricing_label_wrapper">
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="pricing_box1_wrapper pricing_border_box3_wrapper">
                        <div class="box1_heading_wrapper box3_heading_wrapper">
                            <h4>Advanced Plan</h4>
                        </div>
                        <div class="price_box1_wrapper">
                            <div class="price_box3">
                                <h1>₹<span>999</span></h1>
                            </div>
                        </div>
                        <div class="pricing_cont_wrapper">
                            <div class="pricing_cont">
                                <ul>
                                    <li><i class="fa fa-plus-circle"></i> &nbsp;&nbsp;20 Jobs Posting</li>
                                    <li><i class="fa fa-plus-circle"></i> &nbsp;&nbsp;10 Featured jobs</li>
                                    <li><i class="fa fa-plus-circle"></i> &nbsp;&nbsp;120 Days Duration</li>
                                    <li><i class="fa fa-plus-circle"></i> &nbsp;&nbsp;Email Alert</li>
                                </ul>
                            </div>
                        </div>
                        <div class="pricing_btn_wrapper">
                            <div class="pricing_btn3">
                                <ul>
                                    <form action="{% url 'jobs:memberplanPricingEmployer' %}" method="POST">
                                        {% csrf_token %}
                                        <input type="number" value="999" name="value" hidden>
                                    <li><a href=""><i class="fa fa-plus-circle"></i> <button type="submit"> Get Started</button> </a></li>
                                </form >
                                </ul>
                            </div>
                        </div>
                        <div class="jp_pricing_label_wrapper">
                            <i class="fa fa-star"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jp pricing Wrapper End -->
    <!-- jp pricing Info Start -->
    <div class="jp_pricing_info_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- <div class="jp_pricing_cont_heading">
                        <h2>Additional Information :</h2>
                    </div> -->
                    <!-- <div class="jp_pricing_cont_wrapper">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor lacinia pellentesque. Vivamus et tellus in urna faucibus porttitor. Sed auctor ut nunc in pulvinar. Fusce lacinia, velit vitae pharetra porttitor, nunc libero
                            itdin odio, quis iaculis tortor ligula feugiat ex. Nam ut cursus mi. Nullam eu erat in justo euismod ultrices ut id enim. Mrbi non tempor ante, eget molestie mauris. Cras gravida, lacus nec sollicitn euismod, ipsum nisl tempor
                            leo, in volutat sapien ex ac erat. In sit amet dolor ut erat fermentum tincidut. Maecenas sd pque ex.<br><br>This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem
                            quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
                    </div> -->
                    <div class="jp_pricing_form_wrapper">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="jp_pricing_inputs_wrapper">
                                    <i class="fa fa-user"></i><input type="text" placeholder="Name*">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="jp_pricing_inputs_wrapper jp_pricing_inputs2_wrapper">
                                    <i class="fa fa-envelope"></i><input type="text" placeholder="Email*">
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="jp_pricing_select_wrapper">
                                    <i class="fa fa-usd first_icon"></i><select>
									<option>Select Plan</option>
									<option>Select Plan</option>
									<option>Select Plan</option>
									<option>Select Plan</option>
								</select><i class="fa fa-angle-down second_icon"></i>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="jp_pricing_form_btn_wrapper">
                                    <ul>
                                        <li><a href="#" style="background-image: linear-gradient(95deg,#64afef,#248ae4 50%,#244ee4 100%);">
                                            <i class="fa fa-plus-circle"></i>&nbsp; BUY NOW!</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- jp Newsletter Wrapper End -->
        <!-- jp footer Wrapper Start -->
      {% endblock %}
      {% endblock main-content %} 