{% extends 'jobPortal/base.html' %}
{% block main-content %}
{% block content %}
<div class="aboutus_section">
    <div class="container">
        <div class="row">
          
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" >
                <div class="about_text_wrapper">
                    <div class="section_heading section_2_heading">
                        <h2 style="margin-top:20px;"> Returns
                        </h2>
                    </div>
                    
                   <p>Our policy lasts 30 days. If 30 days have gone by since your purchase, unfortunately we can’t offer you a refund or exchange.
                </p>
                <p>To be eligible for a return, your item must be unused and in the same condition that you received it. It must also be in the original packaging.
                </p>

                <p>Several types of goods are exempt from being returned. Perishable goods such as food, flowers, newspapers or magazines cannot be returned. We also do not accept products that are intimate or sanitary goods, hazardous materials, or flammable liquids or gases.
                </p>

                <h5>Additional non-returnable items:
                </h5>

                <ul>
                    <li>Gift cards
                    </li>
                    <li>Downloadable software products
                    </li>

                    <li>Some health and personal care items
                    </li>
                </ul>

                <p>To complete your return, we require a receipt or proof of purchase.
                </p>

                <p>Please do not send your purchase back to the manufacturer.

                    </p>

                    <p>There are certain situations where only partial refunds are granted: 
                        Book with obvious signs of use
                        </p>

                        <p>CD, DVD, VHS tape, software, video game, cassette tape, or vinyl record that has been opened.
                        </p>

                        <p>Any item not in its original condition, is damaged or missing parts for reasons not due to our error.
                        </p>

                        <p>Any item that is returned more than 30 days after delivery
                        </p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" >
                <div class="about_text_wrapper">
                    <div class="section_heading section_2_heading">
                        <h2 style="margin-top:20px;">  Refunds 
                        </h2>
                    </div>
                   
                   <p>Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund.</p>
               <p>If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within a certain amount of days. 
            </p>
               
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" >
                <div class="about_text_wrapper">
                    <div class="section_heading section_2_heading">
                        <h2 style="margin-top:20px;"> Late or missing refunds 
                        </h2>
                    </div>
                   

                    <p>If you haven’t received a refund yet, first check your bank account again.
                        Then contact your credit card company, it may take some time before your refund is officially posted.
                        </p>

                        <p>Next contact your bank. There is often some processing time before a refund is posted.
                        </p>

                        <p>If you’ve done all of this and you still have not received your refund yet, please contact us at hr@gravitonweb.com .
                        </p>
                   
                </div>
            </div>
        

        </div>
    </div>
</div>

<!-- jp best deal Wrapper Start -->


{% endblock %}
{% endblock main-content %} 

