{% extends 'jobPortal/base.html' %}
{% block main-content %}
{% block content %}

{% if emailForm is not None %}

<div class="col-lg-3"></div>
<div class="col-lg-6 col-md-6 col-sm-12" style="border:1px solid rgba(0, 0, 0, 0.103); border-radius:20px;
 height:250px;  box-shadow: 5px 10px #88888886; margin-bottom:30px; margin-top:80px; ">

<form action="{% url 'jobs:userPassword' %}" method="POST">
    {% csrf_token %}
    <label style="margin-top:60px;">Email<span> {% if emailCheck is not None %}
        <p style="color:red; font-family: monospace; font-size:16px;">email is not exist </p>
        {% endif %}</span></label>
    <input type="email" name="email" style="width:100%; border-radius:10px;
    margin-bottom:10px; padding:10px;">

    <button type="submit" style="width:30%; float:right; border-radius:10px; 
    
background-image: linear-gradient(95deg,#2284da,#248ae4 50%,#466bee 100%);
color:white; font-size:18px;">send</button>
</form>
</div>
{% endif %}

{% if otpForm is not None %}

<div class="col-lg-3"></div>
<div class="col-lg-6 col-md-6 col-sm-12" style="border:1px solid rgba(0, 0, 0, 0.103); border-radius:20px;
 height:250px;  box-shadow: 5px 10px #88888886; margin-bottom:30px;  margin-top:80px; ">

<form action="{% url 'jobs:userPassword' %}" method="POST">
    {% csrf_token %}
    <label style="margin-top:60px;">OTP<span>{% if otpCheck is not None %}
        <p style="color:red; font-family: monospace; font-size:16px;">otp is not same </p>
        {% endif %}</span></label>
    <input type="password" name="otp" style="width:100%; border-radius:10px;
    margin-bottom:10px; padding:10px;">
<button type="submit" style="width:30%; float:right; border-radius:10px; 
    
background-image: linear-gradient(95deg,#2284da,#248ae4 50%,#466bee 100%);
color:white; font-size:18px;">send</button></form>
</div>
{% endif %}
{% endblock %}
{% endblock main-content %} 
