{% load static %}  




<div class="footer__copyright" style="background-color:black; margin-top:60px; ">
    <div class="container" style="height:600px;">
        <div class="row" >
            <div class="col-md-12  text-center">
                <div class="gc_logo" style="text-align:center;">
                    <a href="{% url 'jobs:home' %}"><img src="{% static 'jobPortal/gravitonLogo.png' %}" style="width: 100px; padding-top:10px;  height: auto;"   alt="Logo" title="gravitonweb" class="img-responsive"></a>
                </div>               
                 <div style="border:1px solid rgba(255, 255, 255, 0.062); max-width:300%; margin-top:20px;"></div>
             </div>
         </div>
         <div class="row" style=" margin-top:50px;">
             <div class="col-lg-3 col-md-3 col-sm-12">
            <!-- <div class="col-lg-3 col-md-3 col-sm-12"> -->
                <h3 style="font-size: 20px; color: #ffffff; font-weight: 400; text-transform: uppercase;
                position: relative; font-family: 'Montserrat', sans-serif; line-height: 1.1;">who we are</h3> 
                <div style="display:flex; ">
                <div style="border:1px solid #23c0e9; width:10px;"></div>
                <div style="border:1px solid #23c0e9; width:30px; margin-left:5px;"></div>
                </div>
                <p style="margin-top:30px; color:#ffffffd9; font-family:'Lato', sans-serif;
                font-size:14px; text-transform:lowercase; font-weight: 100; line-height: 23px; ">Lorem ipsum dolor sit amet consectetur
                     adipisicing elit. Corporis sit ipsum adipisci 
                    <br>
                    <br>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
                <ul style="list-style-type:none; margin-top:20px;">
                    <li><i class="fa-solid fa-circle-plus" style=" color: #23c0e9;"></i>
                    <a href="#" style=" color: #23c0e9;">
                        Read more</a></li>
                </ul>
             </div>
             <div class="col-lg-3 col-md-3 col-sm-12">
                <h3 style="font-size: 20px; color: #ffffff; font-weight: 400; text-transform: uppercase;
                position: relative; font-family: 'Montserrat', sans-serif; line-height: 1.1;">for candidate</h3> 
                 <div style="display:flex; ">
                    <div style="border:1px solid #23c0e9; width:10px;"></div>
                    <div style="border:1px solid #23c0e9;; width:30px; margin-left:5px;"></div>
                    </div>

            <ul style="list-style-type:none; margin-top:30px; float: left;">
                <li style="margin-bottom:10px; ">
                    <i class="fa-solid fa-caret-right" style="color:#f36969;"></i>
                    <a href="#" style="color:#ffffffd9; margin-left:5px; ">add a resume</a>
                </li>
                <li style="margin-bottom:10px;">
                    <i class="fa-solid fa-caret-right" style="color:#f36969;"></i>
                    <a href="#" style="color:#ffffffd9; margin-left:5px;">candidate dashboard</a>
                </li>
                <li style="margin-bottom:10px;">
                    <i class="fa-solid fa-caret-right" style="color:#f36969;"></i>
                    <a href="#" style="color:#ffffffd9; margin-left:5px;">past applicants</a>
                </li>
                <li style="margin-bottom:10px;">
                    <i class="fa-solid fa-caret-right" style="color:#f36969;"></i>
                    <a href="#" style="color:#ffffffd9; margin-left:5px;">Job Alerts</a>
                </li>
                <li style="margin-bottom:10px;">
                    <i class="fa-solid fa-caret-right" style="color:#f36969;"></i>
                    <a href="#" style="color:#ffffffd9; margin-left:5px;">bookmarks</a>
                </li>
                <li style="margin-bottom:10px;">
                    <i class="fa-solid fa-caret-right" style="color:#f36969;"></i>
                    <a href="#" style="color:#ffffffd9; margin-left:5px;">my account</a>
                </li>
                <li style="margin-bottom:10px;">
                    <i class="fa-solid fa-caret-right" style="color:#f36969;"></i>
                    <a href="#" style="color:#ffffffd9; margin-left:5px;">your jobs</a>
                </li>
            </ul>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-12">
                <h3 style="font-size: 20px; color: #ffffff; font-weight: 400; text-transform: uppercase;
                position: relative; font-family: 'Montserrat', sans-serif; line-height: 1.1;">for employers</h3> 
                 <div style="display:flex; ">
                    <div style="border:1px solid #23c0e9;; width:10px;"></div>
                    <div style="border:1px solid #23c0e9; width:30px; margin-left:5px;"></div>
                    </div>

            <ul style="list-style-type:none; margin-top:30px; float: left;">
                <li style="margin-bottom:10px;">
                    <i class="fa-solid fa-caret-right" style="color:#f36969;"></i>
                    <a href="#" style="color:#ffffffd9; margin-left:5px;">browse candidate</a>
                </li>
                <li style="margin-bottom:10px;">
                    <i class="fa-solid fa-caret-right" style="color:#f36969;"></i>
                    <a href="#" style="color:#ffffffd9; margin-left:5px;">employer dashboard</a>
                </li>
                <li style="margin-bottom:10px;">
                    <i class="fa-solid fa-caret-right" style="color:#f36969;"></i>
                    <a href="#" style="color:#ffffffd9;">add job</a>
                </li>
                <li style="margin-bottom:10px;">
                    <i class="fa-solid fa-caret-right" style="color:#f36969;"></i>
                    <a href="#" style="color:#ffffffd9; margin-left:5px;">Job page</a>
                </li>
                <li style="margin-bottom:10px;">
                    <i class="fa-solid fa-caret-right" style="color:#f36969;"></i>
                    <a href="#" style="color:#ffffffd9; margin-left:5px;">job package</a>
                </li>
                <li style="margin-bottom:10px;">
                    <i class="fa-solid fa-caret-right" style="color:#f36969;"></i>
                    <a href="#" style="color:#ffffffd9; margin-left:5px;">work process</a>
                </li>
                <li style="margin-bottom:10px;">
                    <i class="fa-solid fa-caret-right" style="color:#f36969;"></i>
                    <a href="#" style="color:#ffffffd9; margin-left:5px;">my account</a>
                </li>
            </ul>

            </div>             
            
            <div class="col-lg-3 col-md-3 col-sm-12">
                <h3 style="font-size: 20px; color: #ffffff; font-weight: 400; text-transform: uppercase;
                position: relative; font-family: 'Montserrat', sans-serif; line-height: 1.1;">information</h3> 
                 <div style="display:flex; ">
                    <div style="border:1px solid #23c0e9; width:10px;"></div>
                    <div style="border:1px solid #23c0e9; width:30px; margin-left:5px;"></div>
                    </div>

            <ul style="list-style-type:none; margin-top:30px; float: left; font-family: 'Montserrat', sans-serif;">
                <li style="margin-bottom:10px;">
                    <i class="fa-solid fa-caret-right" style="color:#f36969;"></i>
                    <a href="#" style="color:#ffffffd9; margin-left:5px;  font-family: 'Montserrat', sans-serif;">about us</a>
                </li>
                <li style="margin-bottom:10px;">
                    <i class="fa-solid fa-caret-right" style="color:#f36969;"></i>
                    <a href="#" style="color:#ffffffd9; margin-left:5px;">terms & conditions</a>
                </li>
                <li style="margin-bottom:10px;">
                    <i class="fa-solid fa-caret-right" style="color:#f36969;"></i>
                    <a href="#" style="color:#ffffffd9; margin-left:5px;">privacy policy</a>
                </li>
                <li style="margin-bottom:10px;">
                    <i class="fa-solid fa-caret-right" style="color:#f36969;"></i>
                    <a href="#" style="color:#ffffffd9; margin-left:5px;">careers with us</a>
                </li>
                <li style="margin-bottom:10px;">
                    <i class="fa-solid fa-caret-right" style="color:#f36969;"></i>
                    <a href="#" style="color:#ffffffd9; margin-left:5px;">sitemap</a>
                </li>
                <li style="margin-bottom:10px;">
                    <i class="fa-solid fa-caret-right" style="color:#f36969;"></i>
                    <a href="#" style="color:#ffffffd9; margin-left:5px;">contact us</a>
                </li>
                <li style="margin-bottom:10px;">
                    <i class="fa-solid fa-caret-right" style="color:#f36969;"></i>
                    <a href="#" style="color:#ffffffd9; margin-left:5px;">faq</a>
                </li>
            </ul>

            </div>       
          </div>
          <div style="border:1px solid rgba(255, 255, 255, 0.062); max-width:300%; margin-top:80px;"></div>

     </div>
 </div>




 
    <!-- <div class="footer__copyright" style="background-color:black;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-md-left text-center" style="color:rgba(255, 255, 255, 0.534); margin-top:10px;">
                    <p>&copy;{% now "Y" %} © 2019-20 Job Pro. All Rights Reserved.</p>
                </div>
                <div class="col-md-8 text-center text-md-right ">
                                               <a href="">                                         <i class="fa-brands fa-facebook-f" style="color:rgba(255, 255, 255, 0.664); font-size:18px; margin:20px;"></i></a>
                    <i class="fa-brands fa-twitter" style="color:rgba(255, 255, 255, 0.664); font-size:18px; margin:20px;"></i>                       
                    <i class="fa-brands fa-pinterest-p" style="color:rgba(255, 255, 255, 0.664); font-size:18px; margin:20px;"></i>
                    <i class="fa-brands fa-linkedin-in" style="color:rgba(255, 255, 255, 0.664); font-size:18px; margin:20px;"></i>
                    <i class="fa-brands fa-google-plus-g" style="color:rgba(255, 255, 255, 0.664); font-size:18px; margin:20px;"></i>
                    <i class="fa-brands fa-vimeo-v" style="color:rgba(255, 255, 255, 0.664); font-size:18px; margin:20px;"></i>
                </div>
            </div>
        </div>
    </div> -->
<!-- </footer> -->
  <!----footer-section------>
    <!-- <section class="footer-section">
        <div class="container">
            <h2 class="mt-4 mb-4">gravitonweb!</h2>
            <div class="row">
                    {% for i in footcategories%}
                <div class="col-md-3">
                    <div class="footer-text">
                         {% if i.children.all %}
                        <h3>{{i.title}} </h3>
                        <ul class="trend_list">
                            {% for subcat in i.children.all %}                            
                            <li>
                                                           <a href="">                                         
                         {{subcat.title}}
                       </a>
                            </li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
                    {% endfor %}
                <div class="col-md-3">
                    <div class="footer-text">
                        <h3>Company</h3>
                        <ul class="trend_list">
                            <li>
                                                           <a href="">                                         
                        About us
                       </a>
                            </li>
                            <li>
                                                           <a href="">                                         
                       News & Media
                       </a>
                            </li>
                            <li>
                                                           <a href="">                                         
                        Reviews
                       </a>
                            </li>
                            <li>
                                                           <a href="">                                         
                        Contact us
                       </a>
                            </li>
                            <li>
                                                           <a href="">                                         
                        Webinars
                       </a>
                            </li>
                            <li>
                                                           <a href="">                                         
                       Blog
                       </a>
                            </li>
                            <li>
                                                           <a href="">                                         
                        Community
                       </a>
                            </li>
                            <li>
                                                           <a href="">                                         
                        Locations
                       </a>
                            </li>
                            <li>
                                                           <a href="">                                         
                       Sitemap
                       </a>
                            </li>
                            <li>
                                                           <a href="">                                         
                       Blog Sitemap
                       </a>
                            </li>
                            <li>
                                                           <a href="">                                         
                       Community Sitemap
                       </a>
                            </li>
                            <li>
                                                           <a href="">                                         
                      City Sitemap
                       </a>
                            </li>
                            <li>
                                                           <a href="">                                         
                      Corporate Training
                       </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="footer-text">
                        <h3>Work with us </h3>
                        <ul class="trend_list">
                            <li>
                                                           <a href="">                                         
                        Careers
                       </a>
                            </li>
                            <li>
                                                           <a href="">                                         
                        ABecome an Instructor
                       </a>
                            </li>
                            <li>
                                                           <a href="">                                         
                       Become an Affiliate
                       </a>
                            </li>
                            <li>
                                                           <a href="">                                         
                        Become a Partner
                       </a>
                            </li>
                            <li>
                                                           <a href="">                                         
                         Hire from gravitonweb
                       </a>
                            </li>
                        </ul>
                        <div class="Download-App">
                            <h3>Download App</h3>
                                                       <a href="">                                         
                                <img src="images/d1.png">
                            </a>
                                                       <a href="">                                         
                                <img src="images/d2.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- <section class="CATEGORIES pt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                        <h3 class="hidden-xs">Categories</h3>
                        <ul class="trend_cat_list">
                        {% for i in allcat %}
                            <li>
                                                           <a href="">                                         {{i.title}}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-12">
                    <div class="panel-body">
                        <h3 class="hidden-xs">Disclaimer</h3>
                        {% for i in disc_cat %}
                        <ul class="trend_cat_list disc">
                            <li>
                                                           <a href="">                                         {{i.title}}</a>
                            </li>
                        </ul>
                        {% endfor %} 
                        {% for i in disc_blog %}
                        <ul class="trend_cat_list disc">    
                            <li>
                                                           <a href="">                                         {{i.title}}</a>
                            </li>
                        </ul>    
                        {% endfor %}
                        {% for i in disc_post %}
                        <ul class="trend_cat_list disc">
                            <li>
                                                           <a href="">                                         {{i.title}}</a>
                            </li>
                        </ul>    
                        {% endfor %}
                    </div>
                </div>
                    <div class="tncblock">
                        <span class="brain4ce">© 2020 Developed By Inet. All rights Reserved.</span>
                                                   <a href="">                                         Terms & Conditions</a>
                                                   <a href="">                                         Legal & Privacy</a>
                        <ul class="list-unstyled footer-social-icon">
                            <li>
                                                           <a href="">                                         
                                    <i class="fab fa-facebook" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                                           <a href="">                                         
                                    <i class="fab fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                                           <a href="">                                         
                                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                                           <a href="">                                         
                                    <i class="fab fa-youtube" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
    <section class="copy-right text-center mt-4 mb-4">
        <div class="container">
            <span>PHJY Inet Software PVT. LTD </span>
        </div>

    </section> -->